<?xml version='1.0' encoding='utf-8'?>
<widget id="com.maiklvonvisumathe.computervisioncourse" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Computer Vision Course</name>
    <description>
        Industry-Relevant App. Learn OpenCV and Python with practical drone examples.
    </description>
    <author email="visumathe@gmail.com" href="https://gleeful-dusk-c9d9e1.netlify.app/">
        Visumathe Studio
    </author>
    <content src="index.html" />
    <access origin="*" />

    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-intent href="market:*" />     
    <platform name="android">
        <allow-intent href="play.google.com:*" /> 
        <preference name="Fullscreen" value="false" />
        <preference name="Orientation" value="portrait" />
        <preference name="DisallowOverscroll" value="true" />
        <preference name="BackgroundColor" value="#F5F5DC" />
        <preference name="android-minSdkVersion" value="27" />
        <preference name="android-targetSdkVersion" value="34" />
        <preference name="SplashScreen" value="screen" />
        <preference name="SplashScreenDelay" value="3000" />
        <preference name="SplashScreenBackgroundColor" value="#80a7ae" />
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/drawable/ic_cdv_splashscreen.xml" />
        <preference name="AndroidWindowSplashScreenBackground" value="#80a7ae" />
      
        <icon density="ldpi" src="resources/android/icon/drawable-ldpi-icon.png" />
        <icon density="mdpi" src="resources/android/icon/drawable-mdpi-icon.png" />
        <icon density="hdpi" src="resources/android/icon/drawable-hdpi-icon.png" />
        <icon density="xhdpi" src="resources/android/icon/drawable-xhdpi-icon.png" />
        <icon density="xxhdpi" src="resources/android/icon/drawable-xxhdpi-icon.png" />
        <icon density="xxxhdpi" src="resources/android/icon/drawable-xxxhdpi-icon.png" />
        <icon background="resources/android/icon/ldpi-background.png" density="ldpi" foreground="resources/android/icon/ldpi-foreground.png" />
        <icon background="resources/android/icon/mdpi-background.png" density="mdpi" foreground="resources/android/icon/mdpi-foreground.png" />
        <icon background="resources/android/icon/hdpi-background.png" density="hdpi" foreground="resources/android/icon/hdpi-foreground.png" />
        <icon background="resources/android/icon/xhdpi-background.png" density="xhdpi" foreground="resources/android/icon/xhdpi-foreground.png" />
        <icon background="resources/android/icon/xxhdpi-background.png" density="xxhdpi" foreground="resources/android/icon/xxhdpi-foreground.png" />
        <icon background="resources/android/icon/xxxhdpi-background.png" density="xxxhdpi" foreground="resources/android/icon/xxxhdpi-foreground.png" />
    </platform>
</widget>
